{% extends 'base.html' %}

{% block content %}
{% include 'events_subnav.html' %}

<div class="jumbotron">
  <h2>Event Details:</h2>
  <table class="table table-hover">
    <tr><td>Title:</td><td>{{ event.title }}</td></tr>
    <tr><td>Date/Time:</td><td>{{ event.date_time }}</td></tr>
    <tr><td>Duration:</td><td>{{ event.duration }}</td></tr>
    <tr><td>Location:</td><td>{{ event.location }}</td></tr>
    <tr><td>Attire:</td><td>{{ event.attire }}</td></tr>
    <tr><td>Details:</td><td>{{ event.details }}</td></tr>
  </table>
  <h2>{{ voltype.type }} Instructions:</h2>
  <p>{{ voltype.instructions }}</p>
</div>
{% endblock %}
